# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/

# Java
bin/

# Maven
log/
target/

# Project Specific
config.properties

# generated stuff
xpath*.json
sources*.json
urlToCode*.csv
AGIW*.tsv
agiw*.tsv
data.json
